<div class="sento_container">
    <h1>お家に近いsento</h1>
    
    <% if !@sento.nil? %>
        <% @sento.each do |sento| %>
            <div>
                <h3><%= sento.name %></h3>
                <p>ここから<%= @elements %>!!</p>
                <p>費用｜<%= sento.cost %></p>
                <p>営業時間｜<%= sento.open_time %></p>
                <p>おすすめ｜<%= sento.osusume %></p>
                <form action="/sento/<%= sento.id %>/delete" method="post">
                    <input type="submit" value="削除">
                </form>
            </div>
        <% end %>
    <% end %>
    <div class="permanent_menu">
        <a href="/sento/search" class="wrap_footer_icon"><img src="/assets/img/user_icon.png" class="footer_icon"></img></a>
        <a href="/logout" class="wrap_footer_icon">ログアウト</a>
        <a href="/mypage" class="wrap_footer_icon">マイページ</a>
        <a href="/post" class="wrap_footer_icon">みんなのsento</a>
    </div>
</div>