<div class="container">
    <img src="assets/img/sento_title.png" class="page_title"></img>
    <div class="wrap_sento_list">
    <% if !@sento.nil? %>
        <% @sento.each_with_index do |sento, i| %>
            <a href="sento/<%= sento.id %>/<%= @transit_time[i] %>/info">
                <div class="wrap_sento_card">
                    <h2 class="sento_name"><%= sento.name %></h2>
                    <% if sento.like_users.find_by(id: session[:user]) %>
                        <img class="like_icon" src="/assets/img/like_icon.png"></img>
                    <% else %>
                        <img class="like_icon" src="/assets/img/not_like_icon.png"></img>
                    <% end %>
                    <div class="sento_detail">
                        <img src="<%= sento.img_url %>" class="wrap_sento_image"></img>
                        <div class="wrap_sento_text">
                            <p class="ps-1_75rem"><span class="bold">移動時間</span><br>- <%= @transit_time[i] %></p>
                            <p class="ps-1_75rem"><span class="bold">費用</span><br>- <%= sento.cost %></p>
                            <p class="ps-1_75rem"><span class="bold">登録者のコメント</span><br>- <%= sento.osusume %></p>
                        </div>
                    </div>
                </div>
            </a>
        <% end %>
    <% end %>
        
    </div>
    <div class="add_button">
        <a href="/sento/search"><img src="assets/img/add_icon.png" class="add_icon"></img></a>
    </div>
</div>