<div class="container">
    <div class="wrap_sento_list">
        <% @client.each_with_index do |place, i| %>
            <a href="list/<%= place.place_id %>/<%= @transit_time[i] %>/info">
                <div class="wrap_sento_card">
                    <h2 class="sento_name"><%= place.name %></h2>
                    <div class="sento_detail">
                        <% if !place.photos[0].nil? %>
                            <img src="<%= "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference="+place.photos[0].photo_reference+"&key="+ENV['API_KEY'] %>" class="wrap_sento_image"></img>
                        <% else  %>
                            <div class="wrap_sento_image"></div>
                        <% end %>
                        <div class="wrap_sento_text">
                            <p class="ps-2rem bold">移動時間<br>- <span class="show_time"><%= @transit_time[i] %></span></p>
                            <p class="ps-2rem bold">評価<br>- <span class=""><%= place.rating %></span></p>
                            <% if !place.opening_hours.nil? %>
                                <% if place.opening_hours["open_now"] == true %>
                                    <p class="ps-1_75rem c-blue"><span class="bold">営業中</span>
                                <% else %>
                                    <p class="ps-1_75rem c-red"><span class="bold">営業時間外</span>
                                <% end %>
                            <% else %>
                                <p class="ps-1_75rem "><span class="bold c-green">営業時間の記載なし</span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </a>
        <% end %>
    </div>
</div>

